#projects-container {
    display: grid;
    grid-template-columns: max-content auto;

}

#project-main {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    max-height: 100vh;
    overflow: auto;
}

#project-header {
    color: #454545;
    margin: 0rem auto 1rem;
    padding: 1rem;
    background-color: #fcfcfc;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#description-container{
    margin-bottom: 2rem;
}
.section-title{
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    color: #2c2c2c;
    padding-inline: 1rem;

}
#project-description{
    font-size: 1.25rem;
    padding-inline: 2rem;
    font-weight: light;
    color: #454545;
}

#tasks-cards-container{
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    flex-wrap: wrap;
}
.task-container{
    width: 20rem;
    height: 12rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
}
.task-title{
    font-weight: bolder;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color: #2c2c2c;
}
.taks-description{
    color: #454545;
    padding-inline: 0.5rem;
}
.task-assignee{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: #2c2c2c;
}