<div id="projects-container">
    <div>
        <app-sidebar />
    </div>
    @if (project()) { <div id="project-main">
        <h1 id="project-header">{{project().title}}</h1>
        <div id="description-container">
            <h2 class="section-title">Description:</h2>
            <p id="project-description"> {{project().description}} </p>
        </div>

        <h2 class="section-title">Tasks:</h2>
        <div id="tasks-cards-container">
            @for (task of tasks(); track $index) {
            <div class="task-container">
                <p class="task-title"> {{task.title}} </p>
                <p class="taks-description"> {{task.description}} </p>
                <p class="task-assignee"> {{getUerName(task.assignee_user) }} </p>
            </div>
            }

        </div>
    </div>}

</div>