.project-card-container {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 24rem;
    height: 100%;
    cursor: pointer;
}

.project-card-title {
    margin-bottom: 0.5rem;
    color: #2c2c2c;
}

.project-card-desc {
    color: #454545;
    padding-inline: 0.5rem;
    margin-bottom: 0.5rem;
}
.project-card-user-name{
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: #fafafa;
    border-radius: 0.5rem;
}
.selected{
    background-color: #2c2c2c;
    color: white;
}

